.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  /*border: 1px solid #808080;*/
  width: 330px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
